:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sectionClass {
  margin-bottom: 40px;
}

.headingClass {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 8px;
}

.customBtn {
  border-radius: 6px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: blue;
  color: white;
  cursor: pointer;
  transition: border-color 0.25s;
}

.customBtn:hover {
  background-color: #fff;
  color: black;
}

.secondCustomBtn {
  border-radius: 6px;
  border: 1px solid #2832f5;
  padding: 0.5em 1em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #fff;
  color: #2832f5;
  cursor: pointer;
}

.secondCustomBtn:hover {
  background-color: blue;
  color: white;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
